body{
    background-color: seashell;
}

.header{ 
    background-color: orangered; 
    display: flex; 
    justify-content: center; }

.animal{
    background-color: green;
}
.animal img{
    border: 2px solid black;
    border-radius: 50px;
    margin-left: 20px;
}


.item1{
    background-color: pink;
}
.item1 img{
    border: 2px solid black;
    border-radius: 50px;
    margin-left: 20px;
}

.item2{
    background-color: brown;
}
.item2 img{
    border: 2px solid black;
    border-radius: 50px;
    margin-left: 20px;
}

.item3{
    background-color: greenyellow;
}
.item3 img{
    border: 2px solid black;
    border-radius: 50px;
    margin-left: 20px;
}

.item4{
    background-color: burlywood;
}
.item4 img{
    border: 2px solid black;
    border-radius: 50px;
    margin-left: 20px;
}

.item5{
    background-color: rgb(31, 93, 207);
}
.item5 img{
    border: 2px solid black;
    border-radius: 50px;
    margin-left: 20px;
}


#about{
    text-decoration: none;
    color: red;
}
#followus{
    text-decoration: none;
    color: red;
}
